@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.container {
  margin-bottom: 1.25rem;
  position: relative;
}

.suggestionsContainer {
  max-height: 20rem;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.pointer {
  cursor: pointer;
  padding: $spv--small !important;
}

.highlighted {
  background-color: $color-light;
}

.selectedContainer {
  align-items: center;
  background-color: $color-light;
  display: flex;
  justify-content: space-between;
  padding-right: 0 !important;
}

.marginTop {
  margin-top: $spv--medium !important;
}

.extraPadding {
  padding-bottom: $spv--small !important;
  padding-top: $spv--small !important;
}

.error {
  margin-bottom: $spv--small;
  margin-top: $spv--small;
}

.removeButton {
  &:focus,
  &:hover {
    background-color: $color-mid-x-light;
  }
}

.icon {
  vertical-align: middle;
}
