@import "vanilla-framework/scss/settings_spacing";

.checkbox {
  width: $sp-x-large;
}

.truncate {
  display: block !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
