@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.titleRow {
  align-items: center;
  display: flex;
  gap: $sph--x-large;
  justify-content: space-between;
  white-space: nowrap;
}

.headerContainer {
  column-gap: $sph--small;
  display: flex;
}

.status {
  align-items: center;
  display: flex;
  gap: $sph--small;
}

.heading {
  margin-bottom: 0;
}
