@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.headerContainer {
  column-gap: $sph--small;
  display: flex;
}

.status {
  align-items: center;
  display: flex;
  gap: $sph--small;
}

.heading {
  margin-bottom: 0;
}
