@import "vanilla-framework/scss/settings_spacing";

.container:not(:empty) {
  display: flex;
  flex-direction: column;
}

.container:empty {
  box-shadow: 0 0 0 0 transparent;
  transform: translateX(100%);
  visibility: hidden;
}
