@import "vanilla-framework/scss/settings_spacing";

.sizeField {
  align-items: flex-start;
  column-gap: $sph--large;
  display: flex;
}

.sizeValue {
  flex-grow: 1;
}

.sizeUnit {
  flex-shrink: 0;
  width: 7rem;
}
