@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.wrapper {
  display: inline-block;
  padding-bottom: $spv--small;
  padding-top: $spv--small;
}

.truncated {
  border-bottom: 1px solid $color-mid-light;
  word-break: break-all;
}

.showMore {
  align-self: flex-end;
  width: fit-content;
}

.snippetRoot {
  margin-top: $spv--medium;
}
