@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_placeholders";
@import "vanilla-framework/scss/settings_spacing";

.progressContainer {
  align-items: center;
  column-gap: $sph--large;
  display: flex;
}

.progress {
  flex: 0 0 $sp-xx-large;
}

.progressBarContainer {
  background-color: #d6e4ec;
  border: $border;
  border-radius: $sp-xxxx-large;
  display: inline-block;
  flex-grow: 1;
  max-width: 5.5rem;
  overflow: hidden;
}

.progressBar {
  height: $spv--small;
  background-color: $color-link;
  border-radius: $sp-xx-small;
}

.iconContainer {
  margin-left: -$sph--small;
}
