@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.passwordConstraint {
  align-items: center;
  column-gap: $sph--small;
  display: flex;

  &.passed {
    color: $color-positive;
  }

  &.default {
    color: $colors--theme--text-muted;
  }

  &.failed {
    color: $color-negative;
  }
}
