@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.radio {
  align-items: end;
  display: flex;
  margin-bottom: $spv--large;

  > label {
    margin-right: $sph--x-large;
  }

  & span {
    padding-left: $sph--x-large;
  }
}
