@import "vanilla-framework/scss/settings_colors";

.root {
  position: relative;
}

.label {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0;
  margin-right: 0;
  min-width: 12rem;
  place-items: center flex-start;
  text-align: left;
  width: 100%;

  .text {
    flex-grow: 1;
  }
}

.icon {
  rotate: -90deg;
}

.content {
  display: block;
  min-width: 15rem;
  top: 0;
}

.alignLeft .content {
  left: 100%;
  right: auto;
}

.alignRight .content {
  left: auto;
  right: 100%;
}

.isOpen {
  background-color: $colors--theme--background-active;

  &:hover {
    background-color: $colors--theme--background-active;
  }
}
