@import "vanilla-framework/scss/settings_breakpoints";
@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.navigation {
  &:hover,
  &:focus-within {
    .container {
      opacity: 1;
    }
  }
}

.container {
  background-color: hsla(0, 0%, 100%, 0.1);
  margin-bottom: $spv--large;
  padding: $sp-medium;
  opacity: 0;

  @media screen and (min-width: $breakpoint-large) {
    opacity: 1;
  }
}

.description {
  color: $colors--dark-theme--text-inactive;
}

.link {
  &,
  &:visited,
  &:focus,
  &:hover {
    color: $colors--dark-theme--text-default !important;
    text-decoration: none;
  }
}
