@import "vanilla-framework/scss/settings_breakpoints";

.wrapper {
  display: flex;
}

.secondaryNavigation {
  flex-shrink: 0;
}

.pageContent {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}
