@import "vanilla-framework/scss/settings_breakpoints";
@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  align-items: center;
  border-bottom: 1px solid $colors--dark-theme--border-default;
  justify-content: space-between;
}

.link {
  padding-bottom: $spv--small;
}

.logoImg,
.logoIcon {
  display: block;
  margin-left: calc($sph--x-small + 1px);
}

.logoIcon {
  left: 0;
  position: absolute;
  top: 0;

  @media (min-width: $breakpoint-large) {
    display: none;
  }

  :global(.l-navigation):hover &,
  :global(.l-navigation):focus-within & {
    display: none;
  }
}

.logoTitle {
  color: $color-x-light;
}
