@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/base_icon-definitions";
@import "vanilla-framework/scss/settings_animations";
@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/global_functions";

.accordionButton {
  &::before {
    content: none !important;
  }

  &::after {
    @include vf-icon-chevron($color-mid);
    @include vf-transition($property: transform, $duration: fast);

    content: "";
    width: $sph--large;
    height: $spv--large;
    margin-left: auto;
    align-self: center;
    flex-shrink: 0;
  }

  &[aria-expanded="false"] {
    &::after {
      transform: rotate(-90deg);
    }
  }
}
