@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: $sph--small;
  padding-left: $sph--small;
  padding-right: $sph--small;
}

.navigation {
  padding-top: $spv--medium;
}

.footer {
  margin-top: auto;
}

.version {
  color: $color-mid-x-light;
  font-size: 0.8rem;
  margin-bottom: $sph--x-small;
  padding-left: $sph--small;
  padding-right: $sph--small;
}
