@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_breakpoints";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: $sph--small;
  padding-left: $sph--small;
  padding-right: $sph--small;
}

.navigation {
  margin-bottom: $spv--medium;
  padding-top: $spv--medium;
}

.footer {
  margin-top: auto;
}

:global(.l-navigation) {
  color-scheme: dark;
  scrollbar-color: $colors--dark-theme--text-muted
    $colors--dark-theme--background-default;
  z-index: var(--z-application);
}

@media (width >= $breakpoint-small) and (width < $breakpoint-large) {
  :global(.l-navigation.is-collapsed:not(:hover, :focus-within, .is-pinned)) {
    width: 3rem;
  }
}
