@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  border-top: 1px solid $colors--dark-theme--border-default;
  display: flex;
  flex-direction: column;
  padding-top: $spv--small;
}

.label,
.button {
  padding-bottom: 0.7 * $sp-unit !important;
  padding-left: $sph--small !important;
  padding-top: 0.7 * $sp-unit !important;
}

.label {
  border: 1px solid transparent;
}

.button {
  justify-content: flex-start !important;
  align-items: center;
  column-gap: $sph--small;
}
