@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  border-top: 1px solid $colors--dark-theme--border-default;
  display: flex;
  flex-direction: column;
  padding-top: $spv--small;
}

.label {
  color: $color-x-light;
}

.button {
  padding-bottom: 0.7 * $sp-unit !important;
  padding-left: $sph--small !important;
  padding-top: 0.7 * $sp-unit !important;
  justify-content: flex-start !important;
  align-items: center;
  column-gap: $sph--small;

  &:focus,
  &:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}
