.header {
  flex-direction: column;

  :global(.p-panel__title) {
    padding-bottom: 0.25rem;
  }
}

.description {
  margin: 0;
  max-width: 600px;
  min-width: 215px;
}

.rule {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.content {
  width: 100%;
  max-width: 86rem;
}
