@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.selectedContainer {
  background: $colors--theme--background-alt;
  display: flex;
  flex-direction: column;
  gap: $spv--large;
  justify-content: space-between;
  margin-bottom: $spv--small;
  padding: $spv--small $sph--large $spv--large;

  :global(.is-dark) & {
    background: $colors--theme--background-default;
  }
}

.topRow {
  align-items: start;
  display: flex;
  gap: $sph--small;
  justify-content: space-between;
  width: 100%;
}

.notification {
  border-bottom: 1px solid $colors--theme--border-low-contrast !important;
  padding: 1rem;

  :global(.p-notification__content) {
    margin: 0;
    padding: 0;
  }
}

.multiSelect :global(.p-contextual-menu) {
  margin: 0;
}
