@import "vanilla-framework/scss/settings_colors";

.roles {
  overflow: visible;

  tbody & {
    border-color: $colors--theme--border-default;
    border-style: solid;
    border-width: 0 1px;
    padding: 0;
  }
}

.table {
  border-bottom: 1px solid $colors--theme--border-default;
}
