@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.toggle {
  margin-bottom: 0;
  padding-left: $sph--large;
  white-space: nowrap;
}

.badgeContainer {
  display: inline-block;
  margin-right: -$sph--x-small;
  text-align: right;

  &:not(.multiple) {
    width: 2.5 * $sp-unit;
  }

  &.multiple {
    width: $sph--x-large;
  }
}

.badge {
  background-color: $colors--theme--text-muted;
}

.dropdown {
  min-width: 16rem;
}

.list {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
  max-height: 13.5rem;
  overflow-y: auto;
  padding-left: 0;
}

.listItem {
  &:not(:first-child) {
    padding-top: $input-vertical-padding;
  }

  &:not(:last-child) {
    padding-bottom: $input-vertical-padding;
  }
}

.nestedListItem {
  @extend .listItem;

  padding-left: 2rem;
}

.separated {
  border-bottom: 1px solid $colors--theme--border-low-contrast;
  margin-bottom: calc($spv-nudge / 2);
  padding-bottom: $spv--small !important;
}
