.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  div {
    padding: 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;

  & div {
    width: 21.75rem;
  }
}
