@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.tableHeader {
  padding-top: $sph--large;
}

.apiCredentials {
  padding-bottom: $spv--large;

  &:not(:last-child) {
    border-bottom: 1px solid $colors--light-theme--border-default;
    margin-bottom: $spv--small;
  }

  code {
    word-break: break-all;
  }
}
