@import "vanilla-framework/scss/settings_spacing";

.blocks {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.rule {
  margin-bottom: $spv--large;
}

.heading {
  margin: -0.5rem 0 $spv--large;
  padding: 0;
}
