@import "vanilla-framework/scss/settings_spacing";

.instancesPageHeader {
  column-gap: $spv--x-small;
}

.instancesPageHelperContent {
  align-self: flex-end;
  margin: $spv--x-small;
  padding-bottom: $spv--x-small;
}

.instancesPageAccountInfoButton {
  border: none;
  cursor: pointer;
  padding: 0;
}
