@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.selectedContainer {
  background: $colors--theme--background-alt;
  margin-top: $spv--small;
  padding: $spv--small $sph--large $spv--large;
}

.titleRow {
  align-items: center;
  display: flex;
  gap: $sph--small;
  justify-content: space-between;
}

.deleteButton {
  padding: $spv--small 0;
}
