@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.toBeConfirmedCard {
  border-top: none;
  padding-top: $spv--small !important;
}

.toBeConfirmedCard__buttons {
  border-top: 1px solid $colors--theme--border-default;
  display: flex;
  justify-content: flex-end;
  padding-top: $spv--medium;
}

.toBeConfirmedCard__confirmButton {
  padding-left: $spv--large !important;
  padding-right: $spv--large !important;
}

.bold {
  font-weight: 500;
}
