VITE_API_URL=
VITE_API_URL_OLD=
VITE_API_URL_DEB_ARCHIVE=
VITE_ROOT_PATH=
VITE_SELF_HOSTED_ENV=
VITE_TSV_EXPORTS_ENABLED=
VITE_DETAILED_UPGRADES_VIEW_ENABLED=
VITE_MSW_ENABLED=
VITE_MSW_ENDPOINTS_TO_INTERCEPT=
VITE_API_PROXY_TARGET=
VITE_DEBARCHIVE_PROXY_TARGET=

# These opt into MSW authentication testing; see docs/testing/unit.md for setup.
# Set the individual flags below to select the environment, methods, and scenarios.
VITE_MSW_AUTHENTICATION_TESTING=
# true = a Landscape person exists and first account creation blocked. false = no Landscape person exists and first account creation process enabled.
VITE_MSW_ACCOUNT_EXISTS=
# enables/disables PAM authentication with identity and password. true = enabled, false = disabled
VITE_MSW_PAM_ENABLED=
# enables/disables password authentication with an email address and password. true = enabled, false = disabled
VITE_MSW_PASSWORD_ENABLED=
# enables/disables OIDC authentication. true = enabled, false = disabled
VITE_MSW_OIDC_ENABLED=
# enables/disables Ubuntu One authentication. true = enabled, false = disabled
VITE_MSW_UBUNTU_ONE_ENABLED=
# spoofs an invitation at /accept-invitation/mock-invite. true = enabled, false = disabled
VITE_MSW_INVITATION_ENABLED=
# spoofs signed in status when receiving an invite false = signed-out invitation registration; true = signed-in invitation Accept/Reject.
VITE_MSW_INVITATION_SIGNED_IN=

# variables below control error spoofing. Refer to `unit.md` for all possibilities.
# spoofs account creation errors
VITE_MSW_AUTH_CREATION_ERROR=none
# spoofs login errors
VITE_MSW_AUTH_LOGIN_ERROR=none
# spoofs invitation errors
VITE_MSW_AUTH_INVITATION_ERROR=none
