@import "vanilla-framework/scss/base_placeholders";
@import "vanilla-framework/scss/settings_colors";

.nameColumn {
  width: 75%;
}

.expanded {
  @include vf-highlight-bar($colors--theme--text-default, bottom, false);
}

.expandButton {
  background-color: $color-transparent;
  z-index: var(--z-below) !important;

  &[aria-expanded="true"] {
    background-color: inherit;
    font-weight: 550;
  }
}

.hidden {
  display: none;
}

.innerTable {
  background-color: $colors--theme--background-alt !important;

  thead {
    background-color: initial;
  }
}

.row,
.expanded {
  padding-bottom: 0;
  padding-top: 0;
}
