@import "vanilla-framework/scss/settings_spacing";

.actions {
  width: 4.5rem;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.toggleButton {
  margin-bottom: 0;
  padding: 0 $sph--x-small;
}
