@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  border-top: 1px solid $colors--light-theme--border-default;
  display: flex;
  padding-top: $spv--small;
}

.expandBlock {
  margin-left: auto;
}

.expandButton {
  margin-left: $sph--large;
}
