@import "vanilla-framework/scss/settings_colors";

.expandedCell {
  overflow: visible;
  padding: 0;
}

.expandedRow {
  background-color: $colors--theme--background-default;
  filter: drop-shadow(0 4px 8px $colors--theme--background-alt);
  position: relative;
  z-index: 20;
}
