@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.container {
  padding-left: $sph--large;
  padding-right: $sph--large;
}

.buttons {
  border-top: 1px solid $colors--light-theme--border-default;
  display: flex;
  justify-content: flex-end;
  padding-top: $spv--medium;
}
