@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  border: 1px solid $colors--theme--border-default;
  margin-bottom: $spv--medium;
  padding: $sp-medium;
}

.url {
  display: block;
  margin-bottom: $spv--medium;
  margin-top: $spv--medium;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.copyButton {
  margin: 0;
  padding: 0 $sph--small;
}

.urlContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
