@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.urlContainer {
  border: 1px solid $colors--theme--border-default;
  margin-bottom: $spv--medium;
  padding: $sp-medium;
}

.url {
  display: block;
  margin-bottom: $spv--medium;
  margin-top: $spv--medium;
  overflow-x: auto;
  white-space: nowrap;
}
