@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  border-top: 1px solid $colors--theme--border-default;
  margin-top: $spv--small;
  padding-top: $spv--small;
}

.checkboxColumn {
  width: 25%;
}
