@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.progressBar {
  background-color: $colors--theme--background-active;
  display: inline-flex;
  height: $spv--small;
  margin-right: $spv--small;
  vertical-align: center;
  width: 4rem;

  > div {
    background-color: $colors--theme--link-default;
  }
}
