@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.instanceSelectionContainer {
  border-left: 1px solid $colors--light-theme--border-default;
  margin-bottom: $spv--x-large;
  margin-left: $sph--small;
  padding-left: $sph--large;
  padding-top: $sph--small;
}

.table {
  width: 40rem;
}
