@import "vanilla-framework/scss/settings_breakpoints";

.line {
  width: 50%;

  @media (min-width: $breakpoint-x-large) {
    width: 40%;
  }
}

.accessGroup {
  width: 15%;

  @media (min-width: $breakpoint-x-large) {
    width: 20%;
  }
}

.actions {
  overflow: initial;
  text-align: right;
  width: 10%;
}
