@import "vanilla-framework/scss/settings_breakpoints";

.fingerprint {
  width: 50%;

  @media (min-width: $breakpoint-x-large) {
    width: 40%;
  }
}

.accessType {
  width: 15%;

  @media (min-width: $breakpoint-x-large) {
    width: 20%;
  }
}

.actions {
  width: 10%;
}
