@import "vanilla-framework/scss/settings_spacing";

.fieldsRow {
  display: flex;
  gap: $sph--x-small;

  > * {
    flex: 1;
    min-width: 0;
  }
}

.tight {
  :global(.p-form-validation__input),
  :global(.p-notification--information) {
    margin-bottom: $sph--x-small;
  }
}
