@import "vanilla-framework/scss/settings_spacing";

.fieldsRow {
  display: flex;
  gap: $sph--x-small;

  > * {
    flex: 1;
    min-width: 0;

    select,
    input {
      margin-bottom: 0;
    }
  }
}
