@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 $sph--small;
  margin-bottom: $spv--large;
  color: var(--vf-color-text-inactive);
  background-color: $colors--theme--background-inputs;
}
