@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.highlighter {
  border-left-color: $colors--light-theme--border-default;
  border-right-color: $colors--light-theme--border-default;
  border-style: solid;
  border-top-color: $colors--light-theme--border-default;
  border-width: 1px;
  margin-bottom: $input-margin-bottom;

  &.error {
    border-bottom-color: map-get($states, "error");
  }

  &:not(.error) {
    border-bottom-color: $colors--light-theme--border-high-contrast;
  }
}
