@import "vanilla-framework/scss/base_typography";
@import "vanilla-framework/scss/settings_spacing";

.wrapper {
  align-items: center;
  background-color: $colors--light-theme--background-inputs;
  display: flex;
  padding-right: calc($sp-x-large + 1.5 * $bar-thickness);
  position: relative;
  width: 100%;
}

.search {
  flex-grow: 1;
}

.buttonContainer {
  border-bottom: $input-border-thickness solid
    $colors--light-theme--border-high-contrast;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: calc($sp-x-large + 1.5 * $bar-thickness);

  .wrapper:hover & {
    background-color: $colors--light-theme--background-hover;
  }
}

.button {
  background-color: $colors--light-theme--background-inputs;
  border-bottom: none;
  border-left-color: $color-mid-light;
  border-right: none;
  border-top: none;
  bottom: $bar-thickness;
  margin: 0;
  position: absolute;
  right: $bar-thickness;
  top: $bar-thickness;

  &:hover {
    background-color: $colors--light-theme--background-inputs;
    border-left-color: $color-mid-light;
  }
}

.icon {
  position: absolute;
  right: $sph--small;
  top: 50%;
  transform: translateY(-50%);
}
