@import "vanilla-framework/scss/patterns_lists";

.buttons {
  background-color: $color-x-light;
  border-top: 1px solid $colors--light-theme--border-default;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: -3 * $sp-unit;
  margin-top: $spv--x-large;
  padding-bottom: $spv--x-large;
  padding-top: $spv--x-large;
  position: sticky;
}
