@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.titleRow {
  display: flex;
  justify-content: space-between;
  padding-top: $spv--large;
}

.infoRow {
  box-shadow:
    inset 0 1px 0 0 $color-mid-x-light,
    inset 0 -1px 0 0 $color-mid-x-light;
  padding-top: $spv--large;
  padding-bottom: $spv--large;
}

.inputs {
  padding-top: $spv--large;
}

.tags {
  margin-top: -1 * $sp-unit;
}

.inputLabel {
  margin-top: $spv--x-small;
  margin-bottom: $spv--small;
}

.inputButton {
  align-self: flex-end;
  margin-left: -2 * $sp-unit;
}
