@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.top {
  position: sticky;
  top: 4.5rem;
  background-color: $color-x-light;
  z-index: 1;
  padding-bottom: $spv--large;
}

.search {
  margin-left: auto;
  max-width: 50%;
}

.widgets {
  margin-top: auto;
  position: sticky;
  margin-bottom: -1.5rem;
  padding-bottom: 1rem;
  bottom: 0;
  background-color: $color-x-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: $sph--x-small;
  border-top: 1px solid $colors--light-theme--border-default;
  padding-top: $spv--small;

  &:not(:last-child) {
    margin-bottom: $spv--large;
    padding-bottom: $spv--small;
    border-bottom: 1px solid $colors--light-theme--border-default;
  }
}
