@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.footer {
  margin-bottom: $spv--small;
  width: 100%;
  text-align: right;
}

.multiSelect {
  &:not(:global(.is-error)) {
    :global(.multi-select__select-button) {
      border-bottom-width: 0;

      &:not(:hover):not([aria-expanded="true"]) {
        background-color: $color-x-light;
      }
    }
  }

  :global(.multi-select__select-button) {
    margin-bottom: 0;
  }

  :global(.fade-in--down) {
    :global(.multi-select__dropdown) {
      top: 100%;
    }
  }

  :global(.fade-in--down)[aria-hidden="true"] {
    :global(.multi-select__dropdown) {
      height: 0;
    }
  }

  & > :global(.p-form-validation__message) {
    margin: $sph--x-small $spv--small;
  }
}
