@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  bottom: $spv--medium;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
  margin-bottom: 0;
  position: fixed;
  right: $sph--large;
  width: 26rem;
  z-index: 1000;
}

.baseNotificationStyle {
  :global(body:not(.is-dark)) & {
    background-color: $colors--light-theme--background-default;
    color: $colors--light-theme--text-default;
  }

  :global(body.is-dark) & {
    background-color: $colors--dark-theme--background-alt;
    color: $colors--dark-theme--text-default;
  }

  word-break: break-word;
}

.notification {
  height: 100%;
  margin-bottom: 0 !important;
  width: 100%;

  :global(.p-notification__content) {
    padding-right: 2.5rem !important;
  }
}
