@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.selected {
  background-color: $colors--theme--background-active;
  display: block;
  padding: $input-vertical-padding $sph--large;
}

.button {
  border: none;
  margin-bottom: 0;
  text-align: left;
  width: 100%;
}

.container {
  display: block;
  padding-bottom: $spv--medium;
  padding-top: $spv--medium;
}

.hasSearch {
  padding-left: $sph--large;
  padding-right: $sph--large;
}
