.header {
  display: flex;
  gap: 1rem;
  justify-content: left;
}

.search {
  width: 25rem;
}

.filters {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.radioGroup {
  display: flex;
  gap: 2rem;

  label {
    margin: 0;
    padding-top: 0;
  }
}
