@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  border: 1px solid $color-mid-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $sp-large $sp-medium;
}

.title {
  display: flex;
  gap: $sp-x-small;

  p::before {
    content: "";
    display: block;
    margin-top: -$sph--x-small;
  }
}

.icon {
  flex-shrink: 0;
}

.link {
  align-self: flex-start;
  font-size: 22px;

  &:visited {
    color: $color-link;
  }
}

.instancesNumber {
  font-size: 32px;
  font-weight: bold;
}
