@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_breakpoints";

.container {
  display: grid;
  flex-grow: 1;
  grid-gap: $sp-large;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $breakpoint-large) {
    grid-template-columns: repeat(3, 1fr);
  }
}
