@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.providerButton {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  width: 100%;
}

.name {
  display: block;
}

.url {
  color: $colors--light-theme--text-muted;
  display: block;
  font-size: $sp-medium;
}

.arrow {
  transform: rotate(-90deg);
}

.iconContainer {
  align-items: center;
  display: flex;
}

.icon {
  height: $sp-x-large;
  width: $sp-x-large;
}
