@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.container {
  position: relative;
}

.suggestionsContainer {
  max-height: 20rem;
  padding: 0 !important;
  position: absolute;
  width: 100%;
  z-index: var(--z-dropdown);
}

.pointer {
  cursor: pointer;
  padding: $spv--small !important;
}

.highlighted {
  background-color: $colors--theme--background-alt;
}

.selectedEmployee__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: $spv--medium;
  padding: 0 !important;
}

.selectedEmployee__name {
  line-height: 1;
  padding: $spv--large;
}

.selectedEmployee__button {
  line-height: 1;
  margin: 0 $spv--small 0 0 !important;
  padding: $spv--medium;

  &:focus,
  &:hover {
    background-color: $colors--theme--background-alt;
  }
}

.selectedEmployee__icon {
  vertical-align: middle;
}

.errorMessage {
  margin-top: $spv--small;
}
