@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.toggleButton {
  margin-bottom: 0;
  padding: 0 $sph--x-small;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.negative {
  color: $color-negative;
}

.separator {
  border-top: 1px solid $colors--light-theme--border-low-contrast !important;
}
