@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.pagination {
  margin-top: 0;
  position: static;
  margin-bottom: 0;
}

.buttons {
  margin-top: auto;
  position: sticky;
  margin-bottom: -3 * $sp-unit;
  padding-bottom: $spv--large;
  bottom: 0;
  background-color: $color-x-light;
  column-gap: $sph--x-small;
  border-top: 1px solid $colors--light-theme--border-default;
  padding-top: $spv--large;
}
