@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.passwordConstraint {
  align-items: center;
  column-gap: $sph--x-small;
  display: flex;
  margin-top: $spv--medium;

  &.passed {
    color: $color-positive;
  }

  &.default {
    color: $color-mid-dark;
  }

  &.failed {
    color: $color-negative;
  }
}
