@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.actions,
.name {
  width: 100%;
}

.actions {
  max-width: 15%;
}

.name {
  max-width: 45%;
}

.actions {
  overflow: initial;
  text-align: right;
}

.dividedBlocks {
  display: flex;
  justify-content: end;
}

.dividedBlock {
  &:not(:last-child) {
    padding-right: $sph--small;
  }

  &:not(:first-child)::before {
    content: "\007c";
    margin-right: $sph--small;
    color: $color-mid-light;
  }
}
