@import "vanilla-framework/scss/settings_colors";

.actions {
  width: 15%;
}

.expandedRow {
  background-color: $color-x-light;
  filter: drop-shadow(0 4px 8px $color-mid-light);
}

.expandedCell {
  overflow: visible;
  padding: 0;
}
