@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  margin-top: $sp-large;
  gap: $sp-large;
}

.tableContainer {
  border: 1px solid $color-mid-light;
  padding: $sp-medium;
}

.footer {
  padding-top: $sp-medium;
  display: flex;
  align-self: flex-end;
}

.lastCol {
  text-align: right;
}

.link {
  &:visited {
    color: $color-link;
  }
}

.description {
  width: 50%;
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:global(.p-tabs__list) {
  margin-bottom: $sph--small;
}
