@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  gap: $sp-large;
  margin-top: $sp-large;
}

.tableContainer {
  border: 1px solid $colors--theme--border-default;
  padding: $sp-medium;
}

.footer {
  align-self: flex-end;
  display: flex;
  padding-top: $sp-medium;
}

.lastCol {
  text-align: right;
}

.description {
  width: 50%;
}

.tableHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

:global(.p-tabs__list) {
  margin-bottom: $sph--small;
}
