@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.wrapper {
  padding-bottom: $spv--small;
  padding-top: $spv--small;
}

.label {
  margin-bottom: 0.5rem;
  padding: 0;
  text-transform: uppercase;
}
