a[target="_blank"] {
  &::after {
    content: "";
    position: initial;

    @extend %icon;
    @include vf-icon-external-link($color-focus);
  }

  .is-dark & {
    &::after {
      @include vf-icon-external-link($color-focus-dark);
    }
  }
}

a {
  color: $color-link;

  &:visited {
    color: $color-link;
  }
}

input:-webkit-autofill,
input:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: $colors--theme--background-inputs !important;
  border-top-color: $colors--theme--background-inputs !important;
  box-shadow: 0 0 0 30px $colors--theme--background-inputs inset !important;
  -webkit-text-fill-color: $colors--theme--text-default !important;
}
