// Targets only anchor/link elements that open a new tab or window
a[target="_blank"] {
  // Targets the small space after the link text to display the external link icon
  &::after {
    @extend %icon;
    // This means icons use the computed color from this "pseudo-element,” which it inherits from the external <a> link.
    // Aka icons get their color from their associated link text. This simplifies light mode and dark mode - so external link icons match their link text.
    background-color: currentcolor;
    // creates the ::after pseudo-element for the link icon to be rendered on
    content: "";
    // supplies the external-link SVG as a stencil. Only the opaque icon shape is visible. This is where the color is applied to via background-color
    mask-image: vf-icon-external-link-url($colors--light-theme--icon);
    // These position the stencil around the link icon's box.
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    vertical-align: middle;
  }
}

body:not(.is-dark) {
  --vf-color-link-visited: #{$colors--light-theme--link-default};
}

body.is-dark {
  --vf-color-background-code: rgb(255 255 255 / 3%);
  --vf-color-link-default: #{$colors--dark-theme--focus};
  --vf-color-link-visited: #{$colors--dark-theme--focus};
}

input:-webkit-autofill,
input:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: $colors--theme--background-inputs !important;
  border-top-color: $colors--theme--background-inputs !important;
  box-shadow: 0 0 0 30px $colors--theme--background-inputs inset !important;
}
