:root {
  --z-below: 0;
  --z-default: 1;
  --z-expanded-row: 20;
  --z-table-edge: 200;
  --z-table-corner: 250;
  --z-sticky: 300;
  --z-application: 350;
  --z-sidepanel: 400;
  --z-navigation: 450;
  --z-dropdown: 500;
  --z-modal: 1000;
  --z-notification: 1100;
  --z-tooltip: 1200;
  --z-debug: 9999;
}
