thead {
  th {
    vertical-align: middle;
  }
}

.expandedCell {
  overflow: visible;
  padding: 0;
}

.expandedRow {
  background-color: $colors--theme--background-default;
  filter: drop-shadow(0 4px 8px $colors--theme--background-alt);
  position: relative;
  z-index: 20;
}

.truncatedItem {
  &:not(:last-child)::after {
    content: ", ";
  }

  &:visited {
    color: $color-link !important;
  }
}

.checkbox-cell {
  width: 2rem;
}

.date-cell {
  width: 14rem;
}
