.expandedCell {
  overflow: visible;
  padding: 0;
}

.expandedRow {
  position: relative;
  z-index: var(--z-expanded-row);
}

.truncatedItem {
  &:not(:last-child)::after {
    content: ", ";
  }
}

.checkbox-cell {
  width: 2rem;
}

.date-cell {
  width: 14rem;
}

th label {
  line-height: normal;
}
