@import "vanilla-framework/scss/settings_colors";

.responsiveTable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  thead {
    background-color: $colors--theme--background-default;
    position: sticky;
    top: 0;
    z-index: var(--z-table-corner);
  }

  .firstColumn {
    background-color: $colors--theme--background-default;
    left: 0;
    position: sticky;
    z-index: var(--z-table-edge);
  }
}
