@import "vanilla-framework/scss/settings_colors";

.responsiveTable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.firstColumn {
  background-color: $colors--theme--background-default;
  left: 0;
  position: sticky;
  z-index: var(--z-first-column);
}
