@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.subhead {
  background: $colors--theme--background-alt;
  border-bottom: 1px solid $colors--theme--border-low-contrast;
  display: flex;
  gap: $sph--large;
  padding: $spv--small 0 $spv--small 2.5rem;
}
