@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.label {
  margin-right: $sph--x-small;
}

.tooltipPositionElement {
  display: inline !important;
}

.subCheckbox {
  border-left: 1px solid $colors--theme--border-default;
  margin-left: $sph--small;
  padding-left: $sph--large;
}
