@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.toggleButton {
  margin-bottom: 0;
  padding: 0 $sph--x-small;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.actions {
  width: 4.5rem;
}

th.actions {
  text-align: right;
}

.separator {
  border-top: 1px solid $colors--light-theme--border-low-contrast !important;
}
