@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_breakpoints";
@import "vanilla-framework/scss/settings_colors";

.wrapper {
  display: flex;
  padding: 1rem 0 2.5rem;

  &:not(:first-child) {
    border-top: 1px solid $colors--theme--border-default;
  }

  @media (max-width: #{$breakpoint-small - 1px}) {
    flex-direction: column;
  }
}

.blockTitle {
  display: block;
  min-width: 24 * $sp-unit;
  padding-right: $sph--large;
}

.infoRows {
  flex-grow: 1;
}
