@import "vanilla-framework/scss/settings_spacing";

.bold {
  font-weight: 550;
}

.radioGroup {
  display: flex;
  column-gap: $sph--x-large;
}

.marginTop {
  display: block;
  margin-top: $spv--large;
}
