@import "vanilla-framework/scss/settings_spacing";

.toggleButton {
  margin-bottom: 0;
  padding: 0 $sph--x-small;
}

.actionButton {
  align-items: center;
  display: flex;
  justify-content: start;
  width: 100%;
}
