@import "node_modules/vanilla-framework/scss/settings_colors";
@import "node_modules/vanilla-framework/scss/settings_spacing";

.link {
  &:visited {
    color: $color-link;
  }
}

.passwordField {
  align-items: end;
  column-gap: $sph--large;
  display: flex;
}

.passwordInputWrapper {
  flex-grow: 1;
}
