@import "../../../../../node_modules/vanilla-framework/scss/settings_colors";
@import "../../../../../node_modules/vanilla-framework/scss/settings_spacing";
@import "../../../../../node_modules/vanilla-framework/scss/utilities_off-screen";
@include vf-u-off-screen;

.tableWrapper {
  thead {
    @extend .u-off-screen;
  }
}

.apiCredentials {
  padding-bottom: $spv--large;

  &:not(:last-child) {
    border-bottom: 1px solid $colors--light-theme--border-default;
    margin-bottom: $spv--small;
  }

  code {
    word-break: break-all;
  }
}
