@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.item:not(:first-child) {
  border-top: 1px solid $colors--theme--border-low-contrast;
  padding-top: $spv--large;
}

.heading {
  margin: 0 0 $spv--large;
  padding: 0;
}
