@import "vanilla-framework/scss/settings_spacing";

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
}

.prompt {
  overflow: hidden;
  padding-right: $sph--small;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.saveButton {
  flex-shrink: 0;
  margin-bottom: 0;
  padding-top: 0;
}
