@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/utilities_off-screen";

.switch {
  :global(.p-switch__input) {
    top: 0;
  }

  :global(.p-switch) {
    margin-bottom: 0;
  }

  :global(.p-switch__label) {
    &:not(:focus, :active) {
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    top: 0;
  }
}

.noWrap {
  white-space: nowrap;
}

.alertsWrapper {
  padding-bottom: $spv--large;

  &:not(:last-child) {
    border-bottom: 1px solid $colors--theme--border-default;
    margin-bottom: $spv--small;
  }
}

.emailColumn {
  width: 15%;
}

.nameColumn {
  width: 20%;
}

.tags {
  tbody & {
    border-color: $colors--theme--border-default;
    border-style: solid;
    border-width: 0 1px;
    padding: 0;
  }

  overflow: visible;
  width: 20%;
}
