// Overridden Vanilla variables
@import "vanilla-config";

// Vanilla
@import "vanilla-framework";

@include vanilla;

// Icons
// @import "vanilla-framework/scss/utilities_animations";
@include vf-u-animations;
@include vf-p-icon-pods;
@include vf-p-icon-spinner;
@include vf-p-icon-containers;
@include vf-p-icon-close;
@include vf-p-icon-connected;
@include vf-p-icon-edit;
@include vf-p-icon-change-version;
@include vf-p-icon-fork;
@include vf-p-icon-power-off;
@include vf-p-icon-restart;
@include vf-p-icon-status;
@include vf-p-icon-open-terminal;
@include vf-p-icon-units;
// Custom styles
.p-panel {
  &__inner {
    @extend %vf-grid-container-padding;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.l-aside {
  background-color: $color-x-light;
}

.form-buttons {
  margin-top: 1.5rem;
}

.checkbox-group {
  padding: 0;
  border: 0;

  &__inner {
    column-count: 2;
  }

  legend {
    margin-bottom: 0.25rem;
  }

  .p-form-validation__message {
    margin-top: 0;
  }
}

.p-modal {
  &__footer {
    & > button {
      margin-bottom: 0 !important;
    }
  }
}

@mixin vf-icon-close-sidebar($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero' d='M12.5 14.9747L14 14.9747L14 1L12.5 1L12.5 14.9747ZM5.54288 3.26465L0.858296 7.94923L5.54288 12.6338L6.42676 11.7499L3.3753 8.69981L10.9014 8.69923L10.9014 7.19923L3.3753 7.19981L6.42676 4.14853L5.54288 3.26465Z'/%3E%3C/svg%3E");
}

.p-icon--close-sidebar {
  @extend %icon;
  @include vf-icon-close-sidebar($color-mid-dark);

  [class*="--dark"] &,
  &.is-light {
    @include vf-icon-close-sidebar($color-x-light);
  }
}

@mixin vf-icon-logout($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 13 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero' d='M1.32973 12.4804C0.965955 12.4804 0.653389 12.3507 0.392033 12.0912C0.130678 11.8317 0 11.5213 0 11.1602V1.32972C0 0.965938 0.130678 0.653372 0.392033 0.392017C0.653389 0.130672 0.965955 0 1.32973 0H6.24567V1.32972H1.32973V11.1602H6.24567V12.4804H1.32973ZM9.44857 9.50075L8.49638 8.5674L10.1587 6.90508H4.46668V5.58478H10.1254L8.46305 3.92247L9.41523 2.98912L12.6783 6.2616L9.44857 9.50075Z'/%3E%3C/svg%3E");
}

.p-icon--logout {
  @extend %icon;
  @include vf-icon-logout(hsla(0, 0%, 100%, 0.75));

  [class*="p-side-navigation--"].is-dark .p-side-navigation__link:hover & {
    @include vf-icon-logout($color-x-light);
  }
}

@mixin vf-icon-double-chevron-left($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='5' viewBox='9 8 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 14.187L14.187 20.374L15.248 19.314L10.121 14.187L15.248 9.061L14.187 8L8 14.187Z' fill='#{vf-url-friendly-color($color)}'/%3E%3Cpath d='M15.248 14.187L21.435 20.374L22.496 19.314L17.369 14.187L22.496 9.061L21.435 8L15.248 14.187Z' fill='#{vf-url-friendly-color($color)}'/%3E%3C/svg%3E%0A");
}

.p-icon--double-chevron-left {
  @extend %icon;
  @include vf-icon-double-chevron-left(hsla(0, 0%, 100%, 0.75));

  [class*="p-side-navigation--"].is-dark .p-side-navigation__link:hover & {
    @include vf-icon-double-chevron-left($color-x-light);
  }
}

.p-modal__footer {
  text-align: left;
}

@mixin vf-icon--account($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1a4 4 0 014 4v.5a3.987 3.987 0 01-1.139 2.795 6 6 0 014.135 5.48L15 14H1a6.003 6.003 0 014.14-5.706A3.98 3.98 0 014 5.5V5a4 4 0 014-4zm1 8.5H7a4.502 4.502 0 00-4.203 2.888l-.04.112h10.486l-.03-.084a4.504 4.504 0 00-4-2.911L9 9.5zm-1-7a2.5 2.5 0 00-2.495 2.336L5.5 5v.5a2.5 2.5 0 004.995.164L10.5 5.5V5A2.5 2.5 0 008 2.5z' fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.p-icon--account {
  @extend %icon;
  @include vf-icon--account(hsla(0, 0%, 100%, 0.75));

  [class*="p-side-navigation--"].is-dark .p-side-navigation__link:hover & {
    @include vf-icon--account($color-x-light);
  }
}

.u-off-screen:not(:focus):not(:active) {
  top: 0;
}
