// Overridden Vanilla variables
@import "vanilla-config";

// Vanilla
@import "vanilla-framework";

@include vanilla;

// Icons
// @import "vanilla-framework/scss/utilities_animations";
@include vf-u-animations;
@include vf-p-icon-pods;
@include vf-p-icon-spinner;
@include vf-p-icon-containers;
@include vf-p-icon-close;
@include vf-p-icon-connected;
@include vf-p-icon-edit;
@include vf-p-icon-change-version;
@include vf-p-icon-fork;
@include vf-p-icon-power-off;
@include vf-p-icon-restart;
@include vf-p-icon-status;
@include vf-p-icon-open-terminal;
@include vf-p-icon-units;
@include vf-p-icon-status-failed-small;
@include vf-p-icon-status-in-progress-small;
@include vf-p-icon-status-waiting-small;
@include vf-p-icon-status-queued-small;
@include vf-p-icon-status-succeeded-small;
@include vf-p-icon-begin-downloading;
@include vf-p-icon-warning-grey;
@include vf-p-icon-status-in-progress;
@include vf-p-icon-status-queued;
@include vf-p-icon-status-waiting;
@include vf-p-icon-pin;
@include vf-p-icon-lock-locked;
@include vf-p-icon-lock-locked-active;
@include vf-p-icon-lock-unlock;
@include vf-p-icon-switcher-dashboard;
@include vf-p-icon-machines;
@include vf-p-icon-switcher-environments;
@include vf-p-icon-settings;
@include vf-p-icon-inspector-debug;

// Custom styles
.p-panel {
  &__inner {
    @extend %vf-grid-container-padding;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.l-aside {
  background-color: $color-x-light;
}

.form-buttons {
  margin-top: 1.5rem;
}

.checkbox-group {
  padding: 0;
  border: 0;

  &__inner {
    column-count: 2;
  }

  legend {
    margin-bottom: 0.25rem;
  }

  .p-form-validation__message {
    margin-top: 0;
  }
}

.p-modal {
  &__footer {
    & > button {
      margin-bottom: 0 !important;
    }
  }
}

@mixin vf-icon-close-sidebar($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero' d='M12.5 14.9747L14 14.9747L14 1L12.5 1L12.5 14.9747ZM5.54288 3.26465L0.858296 7.94923L5.54288 12.6338L6.42676 11.7499L3.3753 8.69981L10.9014 8.69923L10.9014 7.19923L3.3753 7.19981L6.42676 4.14853L5.54288 3.26465Z'/%3E%3C/svg%3E");
}

.p-icon--close-sidebar {
  @extend %icon;
  @include vf-icon-close-sidebar($color-mid-dark);

  [class*="--dark"] &,
  &.is-light {
    @include vf-icon-close-sidebar($color-x-light);
  }
}

@mixin vf-icon-logout($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 13 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero' d='M1.32973 12.4804C0.965955 12.4804 0.653389 12.3507 0.392033 12.0912C0.130678 11.8317 0 11.5213 0 11.1602V1.32972C0 0.965938 0.130678 0.653372 0.392033 0.392017C0.653389 0.130672 0.965955 0 1.32973 0H6.24567V1.32972H1.32973V11.1602H6.24567V12.4804H1.32973ZM9.44857 9.50075L8.49638 8.5674L10.1587 6.90508H4.46668V5.58478H10.1254L8.46305 3.92247L9.41523 2.98912L12.6783 6.2616L9.44857 9.50075Z'/%3E%3C/svg%3E");
}

.p-icon--logout {
  @extend %icon;
  @include vf-icon-logout(hsla(0, 0%, 100%, 0.75));

  [class*="p-side-navigation--"].is-dark .p-side-navigation__link:hover & {
    @include vf-icon-logout($color-x-light);
  }
}

@mixin vf-icon-double-chevron-left($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='5' viewBox='9 8 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 14.187L14.187 20.374L15.248 19.314L10.121 14.187L15.248 9.061L14.187 8L8 14.187Z' fill='#{vf-url-friendly-color($color)}'/%3E%3Cpath d='M15.248 14.187L21.435 20.374L22.496 19.314L17.369 14.187L22.496 9.061L21.435 8L15.248 14.187Z' fill='#{vf-url-friendly-color($color)}'/%3E%3C/svg%3E%0A");
}

.p-icon--double-chevron-left {
  @extend %icon;
  @include vf-icon-double-chevron-left(hsla(0, 0%, 100%, 0.75));

  [class*="p-side-navigation--"].is-dark .p-side-navigation__link:hover & {
    @include vf-icon-double-chevron-left($color-x-light);
  }
}

.p-modal__footer {
  text-align: left;
}

@mixin vf-icon--account($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1a4 4 0 014 4v.5a3.987 3.987 0 01-1.139 2.795 6 6 0 014.135 5.48L15 14H1a6.003 6.003 0 014.14-5.706A3.98 3.98 0 014 5.5V5a4 4 0 014-4zm1 8.5H7a4.502 4.502 0 00-4.203 2.888l-.04.112h10.486l-.03-.084a4.504 4.504 0 00-4-2.911L9 9.5zm-1-7a2.5 2.5 0 00-2.495 2.336L5.5 5v.5a2.5 2.5 0 004.995.164L10.5 5.5V5A2.5 2.5 0 008 2.5z' fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.p-icon--account {
  @extend %icon;
  @include vf-icon--account(hsla(0, 0%, 100%, 0.75));

  [class*="p-side-navigation--"].is-dark .p-side-navigation__link:hover & {
    @include vf-icon--account($color-x-light);
  }
}

.u-off-screen:not(:focus):not(:active) {
  top: 0;
}

.p-modal__dialog {
  @media (min-width: $breakpoint-large) {
    min-width: 40rem;
  }
}

@mixin vf-icon--cluster($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1.07224L11.8451 3.29218L11.845 7.03123L14.805 8.73999V13.1799L10.9599 15.3998L8.00001 13.6902L5.04007 15.3998L1.19501 13.1799V8.73999L4.15401 7.03123L4.15494 3.29218L8 1.07224ZM5.04 8.25201L2.695 9.60601V12.313L5.04 13.667L7.11401 12.4682V9.44923L5.04 8.25201ZM10.959 8.25201L8.88501 9.44823V12.4692L10.959 13.667L13.304 12.313V9.60601L10.959 8.25201ZM8 2.80401L5.654 4.15801V6.86601L8 8.21901L10.345 6.86601V4.15801L8 2.80401Z' fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero'/%3E%3C/svg%3E%0A");
}

.p-icon--cluster {
  @extend %icon;
  // @include vf-icon--cluster(hsla(0, 0%, 100%, 0.75));
  @include vf-icon--cluster(#ffffff);

  [class*="p-side-navigation--"].is-dark .p-side-navigation__link:hover & {
    @include vf-icon--cluster($color-x-light);
  }
}

@mixin vf-icon--bell($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.95577 1.79502C8.98452 1.70177 9 1.60269 9 1.5C9 0.947715 8.55228 0.5 8 0.5C7.44772 0.5 7 0.947715 7 1.5C7 1.60255 7.01544 1.7015 7.04411 1.79464C4.57 2.11426 3.24467 3.73558 3.25296 6.47665L3.25296 9.48815C3.25296 10.2187 2.71546 11.0259 1.5513 11.8951C0.973101 12.3268 1.27842 13.246 2 13.246H5.00994C5.13509 14.7878 6.42599 16 8 16C9.57402 16 10.8649 14.7878 10.9901 13.246H14.0019C14.7233 13.246 15.0287 12.3271 14.4508 11.8953C13.2877 11.0261 12.7507 10.2189 12.7507 9.48815V6.47439C12.7543 3.7358 11.4279 2.11546 8.95577 1.79502ZM6.52008 13.246H9.47992C9.36254 13.9574 8.74463 14.5 8 14.5C7.25537 14.5 6.63746 13.9574 6.52008 13.246ZM7.9984 3.23611C10.2563 3.23611 11.2536 4.22996 11.2507 6.4734V9.48815L11.2573 9.69045C11.3013 10.3624 11.5649 11.0102 12.0349 11.636L12.121 11.746H3.881L3.96803 11.6362C4.48555 10.9478 4.75296 10.2327 4.75296 9.48815V6.47439C4.74617 4.22918 5.74102 3.23611 7.9984 3.23611Z' fill='#{vf-url-friendly-color($color)}'/%3E%3C/svg%3E%0A");
}

.p-icon--bell {
  @extend %icon;
  @include vf-icon--bell(hsla(0, 0%, 100%, 0.75));

  [class*="p-side-navigation--"].is-dark .p-side-navigation__link:hover & {
    @include vf-icon--bell($color-x-light);
  }
}

a[target="_blank"] {
  &::after {
    content: "";
    @extend %icon;
    @include vf-icon-external-link($color-link);
  }

  .is-dark & {
    &::after {
      @include vf-icon-external-link($color-x-light);
    }
  }
}

.divided-blocks {
  display: flex;
  justify-content: end;

  &__item {
    &:not(:last-child) {
      padding-right: $sph--small;
    }

    &:not(:first-child) {
      &::before {
        content: "\007c";
        margin-right: $sph--small;
        color: $color-mid-light;
      }
    }
  }
}
