@import "vanilla-framework/scss/settings_colors";

.truncated {
  max-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  display: flex;
  gap: 0.5rem;
}

.link {
  &:visited {
    color: $color-link;
  }
}
