@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  padding-bottom: $spv--large;
  padding-top: $spv--small;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.list {
  max-height: 20rem;
  overflow-y: auto;
}

.listItem {
  border-bottom: 1px solid $colors--theme--border-default !important;
  display: flex;
  padding: 0;

  &:hover {
    background-color: $colors--theme--background-neutral-default;
  }

  &:has(.actions button:hover),
  &:has(.actions button:focus-visible) {
    background-color: transparent;
  }
}

.list li:last-child .listItem {
  border-bottom: none !important;
}

.search {
  background-color: transparent;
  border-radius: 0;
  flex-grow: 1;
  margin: 0;
  padding: $spv--small 0;
  text-align: left;

  &:hover,
  &:focus-visible {
    background-color: transparent;
  }
}

.row {
  column-gap: $sph--small;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.truncated {
  display: block !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actions {
  display: flex;
  padding-bottom: $spv--x-small;
  padding-top: $spv--x-small;

  :global(button) {
    position: relative;

    &::after {
      bottom: -$spv--x-small;
      content: "";
      left: 0;
      position: absolute;
      top: -$spv--x-small;
      width: 100%;
    }
  }
}

.searchQuery {
  margin-top: $spv--x-small;
}
