@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  padding-bottom: $spv--large;
  padding-top: $spv--small;
}

.list {
  max-height: 20rem;
  overflow-y: auto;
}

.listItem {
  box-shadow: 0 1px 0 0 $colors--theme--border-default;
  column-gap: $sph--small;
  display: flex;
}

.search {
  flex-grow: 1;
  margin-bottom: 0;
  margin-right: 0;
  padding: $spv--x-small 0 $spv--x-small;
  text-align: left;
}

.row {
  column-gap: $sph--small;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.truncated {
  display: block !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
