@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.top {
  align-items: flex-start;
  background-color: $colors--theme--background-default;
  column-gap: $sph--x-large;
  display: flex;
  padding-bottom: $spv--large;

  &.sticky {
    position: sticky;
    top: var(--pageheader-height);
    z-index: 1;
  }
}

.filters {
  column-gap: $sph--small;
  display: flex;
}

.actions {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
