@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.top {
  align-items: flex-start;
  background-color: $colors--theme--background-default;
  column-gap: $sph--x-large;
  display: flex;
  padding-bottom: $spv--large;
}

.actions {
  column-gap: $sph--small;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-between;

  > * {
    flex-shrink: 0;
  }
}
