@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.container {
  align-items: flex-start;
  background-color: $color-x-light;
  column-gap: $sph--x-large;
  display: flex;
  padding-bottom: $spv--large;
}

.sticky {
  position: sticky;
  top: 4.5rem;
  z-index: 1;
}

.searchContainer {
  flex-basis: 30rem;
}

.filters {
  column-gap: $sph--small;
  display: flex;
}
