.codeBlock {
  max-width: 42.25rem;
  position: relative;
}

.codeBlock :global(.p-code-snippet__block) {
  padding-right: clamp(3rem, 12%, 5rem);
}

.copyButton {
  position: absolute;
  right: clamp(0.25rem, 1vw, 0.75rem);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.multiline {
  top: 1.25rem;
}
