.codeBlock {
  position: relative;
  max-width: 42.25rem;
}

.codeBlock :global(.p-code-snippet__block) {
  padding-right: clamp(3rem, 12%, 5rem);
}

.copyButton {
  position: absolute;
  top: 50%;
  right: clamp(0.25rem, 1vw, 0.75rem);
  z-index: 1;
  transform: translateY(-50%);
}