@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.toggleButton {
  margin-bottom: 0;
  padding: 0 $sph--x-small;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.colorNegative {
  color: $color-negative;
}

.archive {
  border-top: 1.5px solid #ccc;
}
