@import "vanilla-framework/scss/settings_spacing";

.inner {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: $spv--small;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $sph--large;

  &:global(.size-fixed) {
    max-width: 500px;
  }

  &:global(.size-max) {
    max-width: 100%;
    width: max-content;
  }
}

:global(#root) > :global(.p-strip) > .inner {
  padding: 0 $sph--x-large;
}

.body {
  margin-bottom: 0;
  max-width: inherit;
}

.cta {
  margin-top: $spv--large;
}
