@import "vanilla-framework/scss/settings_spacing";

.inner {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: $spv--small;
  margin-left: auto;
  margin-right: auto;

  &:global(.size-medium) {
    max-width: 420px;
  }

  &:global(.size-large) {
    max-width: 550px;
  }
}

.cta {
  margin-top: $spv--large;
}
