@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.more {
  border-top: 1px solid $colors--light-theme--border-default;
  padding-top: $spv--small;
  text-align: right;

  & button {
    margin-left: $sph--large;
  }
}
