@import "vanilla-framework/scss/settings_spacing";

.breadcrumbs {
  margin-top: $spv--large;
}

.breadcrumbsItem {
  font-variant-caps: initial;
  letter-spacing: initial;
}

.controls,
.visualTitle {
  flex-shrink: 0;
}
