@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.block {
  box-shadow: inset 0 1px 0 0 $colors--light-theme--border-low-contrast;
  margin-top: $spv--medium;
  padding-top: $spv--medium;
  display: flex;
  flex-direction: column;
}

.link {
  &:visited {
    color: $color-link;
  }
}
