@import "vanilla-framework/scss/settings_spacing";

.container {
  display: flex;
  flex-grow: 1;
  gap: $sph--large;
  justify-content: end;
  min-width: 0;

  &.wrapped {
    gap: 0;
    justify-content: start;
  }
}

.innerContainer {
  min-width: 0;
}

.button {
  min-width: max-content;
}

.titleRow {
  align-items: center;
  display: flex;
  gap: $sph--x-large;
  justify-content: space-between;
  margin-bottom: $spv--x-large;
  white-space: nowrap;

  &.wrapped {
    flex-wrap: wrap;
  }
}
