@import "vanilla-framework/scss/settings_spacing";

.container {
  display: flex;
  flex-grow: 1;
  gap: $sph--large;
  justify-content: end;
  min-width: 0;
}

.innerContainer {
  min-width: 0;
}

.button {
  min-width: max-content;
}
