@import "vanilla-framework/scss/settings_colors";

.root {
  align-items: center;
  background-color: $colors--light-theme--background-alt;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.inner {
  background-color: $colors--light-theme--background-default;
  border: 1px solid $color-mid-light;
  max-width: 100%;
  padding: 2rem;
  width: 500px;
}

.title {
  color: $color-x-dark;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.25rem;
}
