@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.pocketWrapper {
  padding-bottom: $spv--large;

  &:not(:last-child) {
    border-bottom: 1px solid $colors--light-theme--border-default;
    margin-bottom: $spv--small;
  }
}

.ctaRow {
  margin-top: $spv--medium;
}
