@import "../../../../../node_modules/vanilla-framework/scss/settings_colors";
@import "../../../../../node_modules/vanilla-framework/scss/settings_spacing";

.passwordConstraint {
  display: flex;
  align-items: center;
  column-gap: $sph--x-small;

  margin-top: $spv--medium;

  &.passed {
    color: $color-positive;
  }

  &.default {
    color: $color-mid-dark;
  }
  &.failed {
    color: $color-negative;
  }
}
