@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.list {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;

  &:not(:first-child) {
    margin-top: $spv--x-large;
  }

  li:first-child {
    padding-top: 0;
  }

  li:last-child {
    padding-bottom: 0;
  }
}

.button {
  align-items: center;
  display: flex;
  justify-content: start;
  margin-bottom: 0;
  width: 100%;
}
