@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.list {
  border-top: 1px solid $colors--light-theme--border-low-contrast;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: $spv--large;
  padding-left: 0;
  padding-top: $spv--x-large;

  &:not(:first-child) {
    margin-top: $spv--x-large;
  }

  li:first-child {
    padding-top: 0;
  }

  li:last-child {
    padding-bottom: 0;
  }
}

.button {
  align-items: center;
  display: flex;
  justify-content: start;
  margin-bottom: 0;
  width: 100%;
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
}
