@import "vanilla-framework/scss/settings_spacing";

.inputWrapper {
  position: relative;
}

.withError {
  padding-bottom: $spv--x-large;
}

.error {
  bottom: 0;
  position: absolute;
  right: -8 * $sp-unit;
  white-space: nowrap;
}

.input {
  min-width: initial !important;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.smallInput {
  width: $sp-xxx-large !important;
}

.mediumInput {
  width: 7 * $sp-unit !important;
}

.largeInput {
  width: $sp-xxxx-large !important;
}

.xLargeInput {
  width: 9 * $sp-unit !important;
}
