@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_breakpoints";

.outerContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-mid-light;
  padding: $sp-medium;
  height: 100%;
  @media (min-width: $breakpoint-large) {
    padding-right: 0;
  }
  @media (min-width: $breakpoint-small) {
    width: 45%;
    flex-direction: column;
  }
  @media (max-width: calc(#{$breakpoint-small} - 1px)) {
    flex-direction: column;
    width: 100%;
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  @media (min-width: $breakpoint-large) {
    flex-direction: row;
  }
  @media (max-width: calc(#{$breakpoint-small} - 1px)) {
    flex-direction: row;
    width: 100%;
  }
}

.chartContainer {
  position: relative;
  width: 100%;
  min-width: 180px;
  min-height: 180px;
  @media (min-width: 1250px) {
    min-height: 250px;
    min-width: 250px;
  }
  @media (min-width: $breakpoint-large) and (max-width: 1249px) {
    min-height: 150px;
    min-width: 150px;
  }
}

.pieChart {
  margin: 0;
  padding: 10px;
}

.title {
  font-weight: 550;
}
