@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.chip {
  border: 0;
}

.container {
  align-items: center;
  display: flex;
  gap: $sph--small;
}

.expandedCell {
  overflow: visible;
  padding: 0;
}

.expandedRow {
  background-color: $color-x-light;
  filter: drop-shadow(0 4px 8px $color-mid-light);
}
