@import "vanilla-framework/scss/settings_spacing";

.innerDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.alignCenter {
  align-items: center;
}

.alignLeft {
  align-items: flex-start;
}
