@import "vanilla-framework/scss/settings_spacing";

.actionRow {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spv--x-small;
}

:global(.p-panel__content):has(.code) {
  overflow: hidden;
}

.code {
  margin-bottom: 0;
  overflow: hidden;

  > :global(.p-code-snippet__block) {
    height: calc(100% - 2.5rem);
  }
}
