@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.container {
  align-items: flex-start;
  background-color: $colors--theme--background-default;
  column-gap: $sph--x-large;
  display: flex;
  position: sticky;
  top: var(--pageheader-height);
  z-index: var(--z-sticky);
}

.searchContainer {
  flex-basis: 30rem;
}
