@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.container {
  align-items: flex-start;
  column-gap: $sph--x-large;
  display: flex;
}

.searchContainer {
  flex-basis: 30rem;
}
