@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.marginRight {
  margin-right: $sph--small;
}

.progressContainer {
  align-items: center;
  display: inline-flex;
}
