@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.marginRight {
  margin-right: $sph--small;
}

.progressBar {
  background-color: $colors--theme--background-active;
  display: inline-flex;
  height: $spv--small;
  margin: 0 $sph--small;
  width: 4rem;

  > div {
    background-color: $colors--theme--link-default;
  }
}
