@import "vanilla-framework/scss/settings_placeholders";
@import "vanilla-framework/scss/settings_spacing";

.searchContainer {
  padding-right: calc(
    (2 * $sph--small + map-get($icon-sizes, default) + $bar-thickness)
  ) !important;

  & + :global(.p-search-and-filter__panel) {
    background-color: $color-x-light;
  }
}

.box {
  margin-left: 0 !important;
  margin-right: calc(
    -1 * (2 * $sph--small + map-get($icon-sizes, default))
  ) !important;
}

.inputContainer {
  flex-basis: 8rem !important;
  flex-grow: 1;
}

.inputError {
  margin-bottom: $spv--x-small;
  margin-top: $spv--x-small;
}
