@import "vanilla-framework/scss/settings_spacing";

.menuContainer {
  display: flex;
  flex-direction: column;
}

.wrapper {
  align-items: center;
  column-gap: $sph--small;
  display: flex;
}

.divider {
  margin-bottom: 0;
}
