@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.item {
  &:not(:last-child) {
    margin-bottom: $sp-x-large;
  }
}

.titleGroup {
  display: flex;
  align-items: center;
  column-gap: $sph--large;
  margin-bottom: $spv--large;

  .title,
  button {
    margin-bottom: 0 !important;
  }
}
