@import "vanilla-framework/scss/settings_breakpoints";
@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.content {
  td {
    overflow: initial;
  }
}

.pocketWrapper {
  padding-bottom: $spv--large;

  &:not(:last-child) {
    border-bottom: 1px solid $colors--light-theme--border-default;
    margin-bottom: $spv--small;
  }
}

.ctaRow {
  margin-top: $spv--medium;
}

.dividedBlocks {
  display: flex;

  @media (min-width: $breakpoint-small) {
    justify-content: end;
  }
}

.dividedBlock {
  &:not(:last-child) {
    padding-right: $sph--small;
  }

  &:not(:first-child)::before {
    content: "\007c";
    margin-right: $sph--small;
    color: $color-mid-light;
  }
}
