@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.listItem {
  align-items: center;
  display: flex;
  gap: $spv--small;
  margin-bottom: $spv--small;
  margin-top: $spv--small;
}

.listItem__link {
  &:visited {
    color: $color-link;
  }
}
