@import "vanilla-framework/scss/settings_spacing";

.container {
  align-items: center;
  column-gap: $sp-x-large;
  display: flex;
  flex-direction: row;
}

.searchContainer {
  flex-basis: 30rem;
}

.select {
  column-gap: $sph--large;
  display: flex;
}
