._header_4ocjm_1{display:flex;flex-direction:column}._cell_4ocjm_6{display:flex;flex-direction:column;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}._cell_4ocjm_6 *{overflow:hidden;text-overflow:ellipsis}
