@import "vanilla-framework/scss/settings_spacing";

.modal {
  & > section {
    max-width: 45rem;
    margin: auto;

    & > div {
      display: flex;
      flex-direction: column;
      height: 65svh;
      padding-top: $spv--large;
    }
  }

  & .search {
    margin-bottom: $spv--large;
  }

  & .table {
    width: 100%;
  }
}
