.content {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: visible;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding-bottom: 0;
}

.medium {
  width: 43rem !important;
}

.large {
  width: 80rem !important;
}
