@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.help {
  color: $colors--theme--text-muted;
  margin-left: $sp-x-large;
}

.noMargin > label {
  margin-bottom: 0;
}

.label {
  padding-top: $spv--small !important;
}

.line {
  display: flex;
  flex-direction: row;
  margin-bottom: $spv--small;

  > div {
    margin-right: $sph--x-large;
  }
}
