@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.help {
  color: $colors--theme--text-muted;
  margin-left: $sp-x-large;
}

.noMargin > label {
  margin-bottom: 0;
}
