@import "vanilla-framework/scss/settings_colors";

.roles,
.actions {
  overflow: visible;
}

.table {
  border-bottom: 1px solid $colors--light-theme--border-default;
}

.roles {
  tbody & {
    padding: 0;
  }

  :global(.multi-select__select-button) {
    margin-bottom: 0;
  }

  :global(.fade-in--down) {
    :global(.multi-select__dropdown) {
      top: 100%;
    }
  }

  :global(.fade-in--down)[aria-hidden="true"] {
    :global(.multi-select__dropdown) {
      height: 0;
    }
  }
}

.actions {
  text-align: right;
  width: 15%;
}
