@import "vanilla-framework/scss/base_icon-definitions";
@import "vanilla-framework/scss/global_functions";
@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.iconError {
  @include vf-icon-error-grey($color-negative);
}

.iconWarning {
  @include vf-icon-warning-grey($color-caution);
}

.iconWarningRed {
  @include vf-icon-warning-grey($color-ubuntu);
}

.checkbox {
  width: $sp-x-large;
}

.description {
  max-width: 40%;
  width: 100%;
}
