@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/utilities_off-screen";
@import "../../../../styles/partials/pragma-card-table";

.container {
  --grid-row-gap: 0;

  &:not(:last-child) {
    margin-bottom: $sp-x-large;
  }
}

.header {
  @include pragma-card-table-header;
}

.tableWrapper {
  @include pragma-card-table-content;

  thead {
    &:not(:focus, :active) {
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      top: 0;
      white-space: nowrap;
      width: 1px;
    }
  }
}

.apiCredentials {
  padding-bottom: $spv--large;

  &:not(:last-child) {
    border-bottom: 1px solid $colors--theme--border-default;
    margin-bottom: $spv--small;
  }

  code {
    word-break: break-all;
  }
}
