@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  border: 1px solid $color-mid-light;
  padding-left: $sp-medium;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $sp-x-small;
}

.button {
  align-self: flex-start;
  font-size: 22px;
}

.text {
  font-size: 32px;
  font-weight: bold;
}
