@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.settingLabel {
  margin-right: $sph--x-small;
}

.tooltipPositionElement {
  display: inline !important;
}

.publish {
  margin-bottom: $spv--small;
}

.radio {
  display: flex;
  align-items: end;
  margin-bottom: $spv--large;

  > label {
    margin-right: $sph--x-large;
  }

  & span {
    padding-left: $sph--x-large;
  }
}
