@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";
@import "../../../../styles/partials/pragma-card-table";

.cardGrid {
  --grid-row-gap: 0;
}

.header {
  @include pragma-card-table-header;
}

.card {
  min-height: 0;
}

.content {
  @include pragma-card-table-content;

  min-height: 0;
}
