@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.cardGrid {
  --grid-row-gap: 0;
}

.header {
  background-color: $colors--theme--background-alt;
  border-bottom: 1px solid $colors--theme--border-default;
  padding-top: $spv--small !important;
  padding-bottom: $spv--small !important;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.content {
  display: flex;
  min-height: 0;
  padding-bottom: 0 !important;

  table {
    margin-bottom: 0;
  }

  thead tr {
    border-bottom-color: $colors--theme--border-default;
  }

  td,
  th {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
