@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.header {
  background-color: $colors--theme--background-alt;
  border-bottom: 1px solid $colors--theme--border-default;
  padding-top: $spv--small !important;
  padding-bottom: $spv--small !important;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.content {
  display: flex;
  min-height: 0;
}
