@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.container {
  box-shadow: inset 0 1px 0 0 $colors--light-theme--border-low-contrast;
  margin-top: $spv--small;
  padding-top: $spv--large;
}

.radioGroup {
  align-items: baseline;
  column-gap: $sph--x-large;
  display: flex;
}

.timeContainer {
  border-left: 1px solid $colors--light-theme--border-default;
  margin-bottom: $spv--x-large;
  margin-left: $sph--small;
  margin-right: $sph--small;
  padding-left: $sph--large;
  padding-right: $sph--large;
}

.time {
  align-items: flex-end;
  display: flex;
}

.timeInput {
  max-width: $sp-xxxx-large;
  min-width: initial;
}

.inputDescriptionAfter {
  margin-bottom: $spv--x-large;
  margin-left: $sph--small;
}

.colon {
  margin-bottom: $spv--x-large;
  margin-left: $sph--small;
  margin-right: $sph--small;
}

.tooltip {
  z-index: 102;
}

.expiration {
  margin-left: $sph--x-large;

  .timeInput {
    max-width: 7rem;
  }
}

.windowInputContainer {
  position: relative;
}

.windowInput {
  min-width: initial;
  width: 7rem;
}

.windowInputDescription {
  left: 7.5rem;
  position: absolute;
  top: 0.5rem;
}
