@import "vanilla-framework/scss/settings_colors";

.expandedCell {
  overflow: visible;
  padding: 0;
}

.expandedRow {
  background-color: $color-x-light;
  filter: drop-shadow(0 4px 8px $color-mid-light);
  position: relative;
  z-index: 20;
}
