@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.registrationContainer {
  border-left: 1px solid $colors--theme--border-default;
  margin-bottom: $spv--x-large;
  margin-left: $sph--small;
  padding-left: $sph--large;
  padding-top: $sph--small;
}

.buttons {
  :global(.is-dark) & {
    background-color: $colors--theme--background-default;
  }
}
