@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.registrationContainer {
  border-left: 1px solid $colors--theme--border-default;
  margin-bottom: $spv--x-large;
  margin-left: $sph--small;
  padding-left: $sph--large;
  padding-top: $sph--small;
}

.buttons {
  border-top: 1px solid $colors--theme--border-default;
  margin-top: $spv--x-large;
  padding-bottom: $spv--x-large;
  padding-top: $spv--x-large;
}
