@import "vanilla-framework/scss/settings_colors";

.card {
  border: 1px solid $color-mid-light;
}

.header {
  background-color: $colors--light-theme--background-alt;
  border-bottom: 1px solid $color-mid-light;
  padding: 0.5rem 1rem;
}

.title {
  color: $color-x-dark;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0;
  padding-top: 0;
}

.content {
  padding: 1rem;
}
