@import "vanilla-framework/scss/settings_colors";

.card {
  border: 1px solid $colors--theme--border-default;
}

.header {
  background-color: $colors--theme--background-default;
  border-bottom: 1px solid $colors--theme--border-default;
  padding: 0.5rem 1rem;
}

.title {
  color: $colors--theme--text-default;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0;
  padding-top: 0;
}

.content {
  padding: 1rem;
}
