@import "vanilla-framework/scss/settings_breakpoints";
@import "vanilla-framework/scss/settings_spacing";

.container {
  display: flex;
  flex-direction: column;
  gap: $sp-large;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
  }
}
