@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.creator,
.accessGroup {
  width: 20%;
}

.associatedProfiles {
  width: 25%;
}

.expandedCell {
  overflow: visible;
  padding: 0;
}

.expandedRow {
  background-color: $color-x-light;
  filter: drop-shadow(0 4px 8px $color-mid-light);
}

.truncatedItem {
  &:not(:last-child)::after {
    content: ", ";
  }

  &:visited {
    color: $color-link;
  }
}

.actions {
  width: 4.5rem;
}

th.actions {
  text-align: right;
}
