@import "vanilla-framework/scss/settings_spacing";

.tabs {
  overflow: visible;
}

.tabPanel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding-top: $sp-x-large;
}
