@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.infoRow {
  border-bottom: 1px solid $color-mid-light;
  margin-bottom: $spv--large;
  padding-bottom: $spv--large;
}

.header {
  margin-bottom: $spv--large;
}
