@import "vanilla-framework/scss/settings_colors";

.wrapper {
  max-width: 280px;
  width: 100%;
}

.fullWidth {
  max-width: none;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.percentage {
  font-size: 0.875rem;
  font-weight: 600;
}

.eta {
  font-size: 0.875rem;
  white-space: nowrap;
}

.bar {
  border: 1px solid $colors--theme--border-default;
  height: 16px;
  margin-top: 4px;
  padding: 2px;
  width: 100%;

  .fill {
    background-color: $colors--theme--link-default;
    height: 100%;
    transition: width 0.3s ease;
  }
}
