@import "vanilla-framework/scss/settings_spacing";

.menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
}
