@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.attachment {
  align-items: center;
  background-color: $colors--theme--background-default;
  border: 1px solid $colors--theme--border-default;
  display: flex;
  justify-content: space-between;
  margin-top: $spv--small;
  padding-left: $spv--small;
  text-decoration: none;
}

.attachmentActions {
  display: flex;
  gap: $sph--small;
}

.actionButton {
  &:focus,
  &:hover {
    background-color: $colors--theme--background-alt;
  }
}
