@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.top {
  align-items: flex-start;
  background-color: $colors--theme--background-default;
  column-gap: $sph--x-large;
  display: flex;
  justify-content: space-between;
  padding-bottom: $spv--large;
  position: sticky;
  top: var(--pageheader-height);
  z-index: 1;
}

.searchContainer {
  flex-basis: 30rem;
}

.filters {
  align-items: center;
  column-gap: $sph--small;
}

.divider {
  border-left: 1px solid $colors--theme--border-low-contrast;
}
