@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.wrapper {
  align-items: center;
  background-color: $color-x-light;
  border-top: 1px solid $colors--light-theme--border-default;
  bottom: 0;
  column-gap: $sph--x-small;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -3 * $sp-unit;
  margin-top: auto;
  padding-bottom: $spv--large;
  padding-top: $spv--large;
  position: sticky;
  z-index: 10;
}

.description {
  margin-right: auto;
}

.paginationContainer {
  column-gap: $sph--x-large;
  display: flex;
  flex-shrink: 0;
  padding-right: $sph--x-small;
}

.paginationWrapper {
  align-items: baseline;
  column-gap: $sph--large;
}

.inputWrapper {
  position: relative;
}

.withError {
  padding-bottom: $spv--x-large;
}

.input {
  min-width: initial !important;
}

.smallInput {
  width: $sp-xxx-large !important;
}

.mediumInput {
  width: 7 * $sp-unit !important;
}

.largeInput {
  width: $sp-xxxx-large !important;
}

.xLargeInput {
  width: 9 * $sp-unit !important;
}

.error {
  bottom: 0;
  position: absolute;
  right: -8 * $sp-unit;
  white-space: nowrap;
}

.noWrap {
  white-space: nowrap;
}

.icon {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
