@import "vanilla-framework/scss/settings_spacing";

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.code {
  margin-top: $spv--x-large;
}

.inputContainer {
  position: relative;
}

.input {
  min-width: initial;
  width: 90%;
}

.inputDescription {
  position: absolute;
  right: 0;
  top: $sp-xxx-large;
}
