@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.chip {
  background-color: $colors--theme--background-neutral-default;
  border-radius: $sph--large;
  font-weight: 400;
  line-height: $spv--large;
  margin-left: $sph--small;
  padding: $spv--x-small $sph--small;
}
