@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.outerContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-mid-light;
  padding: $sp-medium;
  padding-right: 0;
  width: 40%;
  height: 300px;
}

.innerContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.title {
  font-weight: 550;
}
