@import "vanilla-framework/scss/settings_spacing";

.inputWrapper {
  position: relative;
}

.withError {
  padding-bottom: $spv--x-large;
}

.error {
  bottom: 0;
  position: absolute;
  right: -8 * $sp-unit;
  white-space: nowrap;
}
