@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.settingLabel {
  margin-right: $sph--x-small;
}

.tooltipPositionElement {
  display: inline !important;
}

.derivedDistribution {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $spv--small $sph--small;
  background-color: $colors--theme--background-inputs;
}

.derivedDistributionValue {
  font-weight: 500;
}

.sectionTitle {
  margin-bottom: $spv--small;
}

.section {
  padding-top: $spv--large !important;
}
