@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.actions {
  width: 4.5rem;
}

th.actions {
  text-align: right;
}

.title {
  margin-right: $sph--x-small;
}

.tooltipPositionElement {
  display: inline !important;
}

.link {
  &:visited {
    color: $color-link;
  }
}

.tableSection {
  border-top: 1px solid $color-mid-light;
  margin-top: $spv--x-large;
  padding-top: $spv--x-large;
}
