.formSection {
  > div {
    column-gap: 0;
    grid-template-columns: 21.875rem 42.25rem 21.875rem;
  }

  @container (max-width: 85.9375rem) {
    > div {
      row-gap: 0.5rem;
      grid-template-columns: minmax(0, 1fr);
    }
  }

  p,
  :global(.p-code-snippet) {
    max-width: 42.25rem;
    width: 100%;
  }
}

.paragraph1 {
  margin-bottom: 1rem;
}

.curl {
  color: var(--color-palette-aubergine-590, #923d83);
}
