@import "vanilla-framework/scss/settings_spacing";

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
}

.segmentedButtons {
  margin-right: $sph--large;
}
