@import "../../../../../node_modules/vanilla-framework/scss/settings_colors";
@import "../../../../../node_modules/vanilla-framework/scss/settings_spacing";

.title,
.actions,
.name {
  width: 100%;
}

.title {
  max-width: 30%;
}

.name {
  max-width: 20%;
}

.actions {
  max-width: 15%;
  overflow: initial;
  text-align: right;
}

.dividedBlocks {
  display: flex;
  justify-content: end;
}

.dividedBlock {
  &:not(:last-child) {
    padding-right: $sph--small;
  }

  &:not(:first-child)::before {
    content: "\007c";
    margin-right: $sph--small;
    color: $color-mid-light;
  }
}
