@import "vanilla-framework/scss/settings_spacing";

.container {
  display: flex;
  flex-direction: column;
}

.medium {
  width: min(43rem, 100%) !important;
}

.header {
  align-items: baseline;
  column-gap: $sph--large;
}

.outerDiv {
  display: flex;
  flex-grow: 1;
  overflow: visible !important;
}

.innerDiv {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}
