@import "vanilla-framework/scss/patterns_lists";

.label {
  padding-bottom: 0.3rem !important;
}

.uppercase {
  text-transform: uppercase;
}

.formInner {
  padding-bottom: $sp-unit * 6;
}

.buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  @include vf-list-item-divided;
  margin-left: -$sph--x-large;
  padding-left: $sph--x-large;
  padding-top: $spv--large;
  background-color: $color-x-light;
}
