@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.content {
  td {
    overflow: initial;
  }
}

.dividedBlocks {
  display: flex;
  justify-content: end;
}

.dividedBlock {
  &:not(:last-child) {
    padding-right: $sph--small;
  }

  &:not(:first-child)::before {
    content: "\007c";
    margin-right: $sph--small;
    color: $color-mid-light;
  }
}
