@import "vanilla-framework/scss/patterns_lists";

.label {
  padding-bottom: 0.3rem !important;
}

.uppercase {
  text-transform: uppercase;
}

.formInner {
  padding-bottom: $sp-unit * 6;
}

.searchIcon {
  cursor: default !important;
}

