@import "vanilla-framework/scss/settings_spacing";

.toggleButton {
  padding: 0 $sph--x-small;
  margin-bottom: 0;
}

.actionButton {
  align-items: center;
  display: flex;
  justify-content: start;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: flex-end;
}
