@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.attachmentBlock {
  width: 100%;
}

.attachment {
  align-items: center;
  background-color: $color-light;
  display: flex;
  justify-content: space-between;
  margin-top: $spv--small;
  padding-right: 0;
  padding-left: 0;
  padding-left: $spv--small;
  text-decoration: none;
}

.link {
  &:visited {
    color: $color-link;
  }
}

.downloadButton {
  padding-right: $sp-small;
  padding-left: $sp-small;
  &:focus,
  &:hover {
    background-color: $color-mid-x-light;
  }
}
