@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.description {
  margin-bottom: $spv--large;
}

.stepOneFields {
  display: grid;
  gap: $spv--medium;
  margin-bottom: $spv--large;
}

.optionList {
  display: grid;
  gap: $sph--small;
}

.emptyState {
  color: $colors--theme--text-muted;
  margin-top: $spv--small;
}

.searchGroups > :global(.p-accordion),
.fieldGroupsWrapper > :global(.p-accordion) {
  border-top: 1px solid;
}

:global(.p-accordion__tab) {
  padding-right: $sph--x-large !important;
}

:global(.p-accordion__tab)::before {
  margin-right: 0 !important;
  position: absolute !important;
  right: 1.5rem !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

:global(.p-accordion__tab[aria-expanded="false"])::before {
  transform: translateY(-50%) rotate(-90deg) !important;
}
