@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.description {
  margin-bottom: $spv--large;
}

.stepOneFields {
  display: grid;
  gap: $spv--medium;
  margin-bottom: $spv--large;
}

.optionList {
  display: grid;
  gap: $sph--small;
}

.emptyState {
  color: $colors--theme--text-muted;
  margin-top: $spv--small;
}

.attributesLabel {
  display: block;
  font-weight: 500;
  margin-bottom: $spv--small;
}

// .searchGroups {
//   display: grid;
//   gap: 0;
// }

// .fieldGroupsWrapper {
//   display: contents;
// }

:global(.export-form-field-groups-accordion) {
  border-top: 1px solid $colors--theme--border-low-contrast;
}

:global(.export-form-field-groups-accordion .p-accordion__list) {
  margin-bottom: 0;
}

:global(.export-form-field-groups-accordion h5.p-accordion__heading),
:global(
  .export-form-field-groups-accordion h5.p-accordion__heading.p-heading--5
) {
  font-weight: 400;
}

:global(label.export-form-group-title-checkbox.p-checkbox) {
  margin-bottom: 0;
}

:global(.export-form-field-groups-accordion .p-accordion__panel) {
  padding-top: 0;
}

:global(.export-form-field-groups-accordion .p-accordion__tab) {
  padding-right: $sph--x-large;
}

:global(.export-form-field-groups-accordion .p-accordion__tab)::before {
  margin-right: 0;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

:global(
  .export-form-field-groups-accordion .p-accordion__tab[aria-expanded="false"]
)::before {
  transform: translateY(-50%) rotate(-90deg);
}
