@import "vanilla-framework/scss/settings_spacing";

.truncated,
.noWrap {
  white-space: nowrap;
}

.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  width: 4.5rem;
}

th.actions {
  text-align: right;
}

.description {
  width: 20%;
}
