@import "vanilla-framework/scss/settings_spacing";

.truncated,
.noWrap {
  white-space: nowrap;
}

.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  width: 4.5rem;
}

.description {
  width: 20%;
}

.toggleButton {
  padding: 0 $sph--x-small;
  margin-bottom: 0;
}

.actionButton {
  align-items: center;
  display: flex;
  justify-content: start;
  width: 100%;
}
