@import "vanilla-framework/scss/settings_spacing";

.description,
.noWrap {
  white-space: nowrap;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20%;
}

.header {
  display: flex;
  gap: $sph--x-small;
}
