@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.wrapper {
  align-items: center;
  border-top: 1px solid $colors--theme--border-default;
  bottom: 0;
  column-gap: $sph--x-small;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -3 * $sp-unit;
  margin-top: auto;
  padding-bottom: $spv--large;
  padding-top: $spv--large;
}

.paginationContainer {
  column-gap: $sph--x-large;
  display: flex;
  flex-shrink: 0;
  padding-right: $sph--x-small;
}

.paginationWrapper {
  align-items: baseline;
  column-gap: $sph--large;
}

.description {
  margin-right: auto;
}
