@import "vanilla-framework/scss/base_placeholders";
@import "vanilla-framework/scss/settings_colors";

.nameColumn {
  width: 75%;
}

.expanded {
  @include vf-highlight-bar($colors--theme--text-default, bottom, false);
}

.expandButton {
  background-color: $color-transparent;
  z-index: 0 !important;

  &[aria-expanded="true"] {
    background-color: inherit;
    font-weight: 550;
  }
}

.hidden {
  display: none;
}

.innerTable {
  background-color: $colors--theme--background-alt;
}

.row,
.expanded {
  padding-bottom: 0;
  padding-top: 0;
}

.cve {
  &:not(:last-child)::after {
    content: ", ";
  }
}

.cveLink {
  text-wrap: nowrap;
}
