@import "vanilla-framework/scss/base_placeholders";
@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.checkboxColumn {
  width: $sp-x-large;
}

.expanded {
  @include vf-highlight-bar($colors--light-theme--text-default, bottom, false);
}

.expandButton {
  background-color: $color-transparent;

  &[aria-expanded="true"] {
    background-color: inherit;
    font-weight: 550;
  }
}

.hidden {
  display: none;
}

.innerTable {
  background-color: $color-light;
}

.row,
.expanded {
  padding-top: 0;
  padding-bottom: 0;
}

.expandedRow {
  background-color: $color-x-light;
  filter: drop-shadow(0 4px 8px $color-mid-light);
}

.expandedCell {
  overflow: visible;
  padding: 0;
}

.cve {
  &:not(:last-child)::after {
    content: ", ";
  }
}

.cveLink {
  text-wrap: nowrap;
}
