@import "vanilla-framework/scss/settings_spacing";

.container {
  align-items: flex-end;
  display: flex;
  column-gap: $sph--x-large;
}

.search {
  flex-basis: 30rem;
  flex-shrink: 1;
}

.noShrink {
  flex-shrink: 0;
  flex-grow: 1;
}
