@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.container {
  border-top: 1px solid $color-mid-light;
  margin-top: $spv--x-large;
  padding-top: $spv--x-large;
}

.link {
  &:visited {
    color: $color-link;
  }
}
