@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.listItem {
  cursor: pointer;
  display: flex;
  gap: $sph--large;
  justify-content: space-between;
  padding: $sph--small $spv--large;

  &.disabled {
    color: $colors--theme--text-muted;
    cursor: not-allowed;
  }
}

.computerCount {
  flex-shrink: 0;
}

.highlighted {
  background-color: $colors--theme--background-alt;
}

.empty {
  padding: 1rem;
}
