@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_placeholders";

.container {
  &:global(.is-error) {
    :global(.multi-select__select-button) {
      border-bottom-color: $color-negative;

      &:not(:hover, [aria-expanded="true"]) {
        background-color: $color-negative-background;
      }

      &:hover:not([aria-expanded="true"]) {
        background-color: $color-negative-background--hover;
      }

      &[aria-expanded="true"] {
        background-color: $color-negative-background--focus;
      }
    }
  }
}

.errorMessage {
  margin-top: $spv--medium;
}
