@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_placeholders";

.container {
  &:global(.is-error) {
    :global(.multi-select__select-button) {
      border-bottom-color: $colors--theme--border-negative;

      &:not(:hover, [aria-expanded="true"]) {
        background-color: $colors--theme--background-negative-default;
      }

      &:hover:not([aria-expanded="true"]) {
        background-color: $colors--theme--background-negative-hover;
      }

      &[aria-expanded="true"] {
        background-color: $colors--theme--background-negative-active;
      }
    }
  }

  &:global(.is-caution) {
    :global(.multi-select__select-button) {
      border-bottom-color: $colors--theme--border-caution;

      &:not(:hover, [aria-expanded="true"]) {
        background-color: $colors--theme--background-caution-default;
      }

      &:hover:not([aria-expanded="true"]) {
        background-color: $colors--theme--background-caution-hover;
      }

      &[aria-expanded="true"] {
        background-color: $colors--theme--background-caution-active;
      }
    }
  }
}
