@import "vanilla-framework/scss/settings_placeholders";
@import "vanilla-framework/scss/settings_spacing";

.searchContainer {
  padding-right: calc(
    2 * (2 * $sph--small + map-get($icon-sizes, default) + $bar-thickness)
  ) !important;

  & + :global(.p-search-and-filter__panel) {
    background-color: $colors--theme--background-default;
  }
}

.form {
  flex-basis: 8rem !important;
  margin-right: calc(
    -1 * (2 * $sph--small + map-get($icon-sizes, default))
  ) !important;
}

.searchBoxContainer {
  flex-grow: 1;
}

.input {
  margin-bottom: 0;
  margin-left: -0.5rem;

  :global(.p-search-box__input) {
    border-bottom: 0;
  }
}
