@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.track {
  background-color: $colors--theme--background-alt;
  height: 1.5rem;
  width: 100%;
}

.fill {
  height: 100%;
}

.positive {
  background-color: $color-positive;
}

.link {
  background-color: $colors--theme--link-default;
}

.neutral {
  background-color: $colors--theme--text-muted;
}
