@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.details {
  width: 35%;
}

.tooltipLink {
  &,
  &:hover,
  &:focus,
  &:visited {
    color: $colors--theme--text-default;
  }
}

.hidden {
  display: none;
}
