@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.step {
  color: $colors--light-theme--text-muted;
  font-style: italic;
  margin-left: $sph--small;
}
